body {
  padding: 3em;
}

tr:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.reset {
  display: block !important;
  margin-bottom: 1em !important;
}

.err-msg {
  margin-bottom: 1em;
}

.err-msg h2 {
  color: #ff0033;
  margin-bottom: 0;
}
